---
import JournalSection from "../../components/JournalSection.astro";
import Layout from "../../layouts/Layout.astro";
import { getCollection, render } from 'astro:content';

export async function getStaticPaths(){
  const entries = await getCollection('journal');
  // const pages = [... entries];
  return [{props: {entries: entries}, params: {page: 1}}];
}

const {entries} = Astro.props;
const { page }= Astro.params;
// console.log(contents)
---
<Layout title={page.toString()}>
  <div class="flex flex-col px-5 text-lg text-white mt-20 space-y-10
              sm:mt-64">
    {entries.map((entry)=>{
        return <JournalSection entry={entry}></JournalSection>
    })}
  </div>
</Layout>