---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About this site">
    <h1 class="mt-20 mb-10 text-4xl text-matrix-medium font-extrabold text-center w-full
                sm:mt-64 sm:mb-20 sm:text-6xl">ABOUT THIS SITE</h1>
    <div class="text-base text-surface-light flex flex-col items-center space-y-10
                sm:space-y-20 sm:text-xl sm:px-32 sm:mb-20">
        <h2>Thanks</h2>
        Here we list the influences of this page

        <h3>The matrix movie</h3>
        <p>For the overall theme of the page</p>
        <h3>The creator of the relay quine</h3>
        <p>For the piece of code that is in the background</p>

        <h2>The tech</h2>
        <h3>Astro</h3>
        <p>For the framework</p>
        <h3>TailwindCSS</h3>
        <p>for the CSS</p>
        <h3>p5.js</h3>
        <p>For the animation</p>
        <h3>spat</h3>
        <p>for the translation. When we translate</p>
    </div>
</Layout>