---
import Layout from '../layouts/Layout.astro';
import ExperienceCard from '../components/ExperienceCard.astro';
import IndexSection from '../components/IndexSection.astro';
import Navigation from '../components/Navigation.astro';
---

<Layout title="Gerardo Miranda">
	<header>
		<Navigation></Navigation>
	</header>
	<main class="text-matrix-medium relative">
		<section>
			<div id="p5container" class="absolute top-0 left-0 h-dvh w-full -z-10"></div>
			<div class="h-dvh flex flex-col items-center justify-center">
				<div class="text-4xl sm:text-6xl md:text-7xl flex flex-row p-10">
					<h1 class="flex-none">
						GERARDO MIRANDA
					</h1>
					<p id="underscore" class="flex-grow">_</p>
				</div>
				
				<h2 class="text-xl sm:text-2xl md:text-3xl">
					Software developer
				</h2>
			</div>
		</section>
		<IndexSection id="technologies", title="Most used Technologies">
			<ul>
				<li>Ruby on Rails</li>
				<li>Javascript</li>
				<li>Flutter</li>
				<li>MySql</li>
				<li>Java</li>
				<li>Astro</li>
				<li>TailwindCSS</li>
			</ul>
		</IndexSection>
		<IndexSection id="experience" title="Work Experience">
			<ExperienceCard company="Flexwage Solutions" position="Ruby on Rails developer">
				<p>
					Mantaining and developing new features for the Flexwage web application
					using Ruby on Rails
				</p>
				<ul class="list-disc">
					<li>Develop importers, exporters and processes for client data of more than 20 clients.</li>
				</ul>
			</ExperienceCard>
			<ExperienceCard company="Billfire" position="QA">
				<p>
					Executing manual end to end testing of the legacy web application. Automating testing 
					of the new web application using Selenium WebDriver.
				</p>
				<ul>
					<li>Reduced automated tests line count by 50% by implementing a new testing framework.</li>
					<li>Helped writing the test suites for the new web application for the company.</li>
				</ul>
			</ExperienceCard>
		</IndexSection>
		<IndexSection id="projects" title="Projects">
			<ul>
				<li>Mochapi</li>
				<li>Duration Spinbox</li>
				<li>Spat</li>
				<li>Tomy</li>
			</ul>
		</IndexSection>
	</main>
	<footer class="text-matrix-medium">
		<div class="h-[50dvh]">
			<h1>footer</h1>
		</div>
	</footer>
</Layout>

