---
import type { Page } from "astro";
import { getCollection } from "astro:content";
const pageSize = 10;
var entries = await getCollection('journal');
const pageCount = entries.length / pageSize;
let newArray = Array.from({ length: pageCount+1 }, (value, index) => index);
interface Props {
    page: Page
}
const { page }  = Astro.props;
const journalBaseLink= "/journal/";
---

<div class="flex flex-row max-w-screen-lg w-full justify-center space-x-3 underline underline-offset-4
            sm:justify-start">
    {page.url.first ? <a href={page.url.first} class="text-matrix-medium hover:text-matrix-light">First</a> : null}
    {page.url.prev ? <a href={page.url.prev}  class="text-matrix-medium hover:text-matrix-light">Prev</a> : null}
    {
        newArray.map((page)=>{
            return <a href={journalBaseLink+(page+1)} class="text-matrix-medium hover:text-matrix-light">
                {page+1}
            </a>
        })
    }
    {page.url.next ? <a href={page.url.next} class="text-matrix-medium hover:text-matrix-light">Next</a> : null}
    {page.url.last ? <a href={page.url.last} class="text-matrix-medium hover:text-matrix-light">Last</a> : null}
</div>