---
import DefaultButton from './DefaultButton.astro';
import DialogBorder from './DialogBorder.astro';

interface Props {
	id: string;
}
const { id } = Astro.props;
const closeId = "close" + id;
---

<div id={id} class="hidden fixed z-50 w-full h-full max-w-screen-lg content-center">
    <DialogBorder>
        <div class="flex flex-col items-center justify-evenly space-y-8 py-8">
            <slot></slot>
            <button id={closeId}>
                <DefaultButton>
                    Close
                </DefaultButton>
            </button>
        </div>
    </DialogBorder>
    
    
</div>

<script is:inline define:vars={{id, closeId}}>
    const closeDialog = () =>{
        const dialog = document.getElementById(id);
        const modal = document.getElementById("page-modal");
        dialog.classList.add("hidden");
        modal.classList.add("hidden");
        // Re enabling scrolling
        document.body.style.overflow = "auto";
        document.body.style.userSelect = "auto";
    }

    document.getElementById(closeId).addEventListener("click", closeDialog);
</script>